@model ReptileManager.Models.Medication

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Medication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Reptile.SpeciesName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reptile.SpeciesName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicationField)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicationField)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MedicationId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
