@model ReptileManager.Models.Reptile



@{
    ViewBag.Title = "Details";
    
}
<link href="@Url.Content("~/Content/DetailsPage.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="~/Scripts/jquery-2.1.3.js"></script>
<script type="text/javascript" src="~/Scripts/modernizr-2.8.3.js"></script>


    <style>
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


</style>
<h2>Details</h2>



<div class="container-fluid">
    <hr />
    <div class="well">
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SpeciesName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SpeciesName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ScientificName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ScientificName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CommonName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CommonName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Born)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Born)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Morph)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Morph)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Venomous)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Venomous)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Weight)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Weight)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.WeightProgress)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.WeightProgress)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Origin)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Origin)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Food)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Food)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FeedingType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FeedingType)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AdultSize)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AdultSize)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Habitat)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Habitat)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Breeder)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Breeder)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.BreederEmail)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BreederEmail)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Cities)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Cities)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ClutchID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ClutchID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ForSale)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ForSale)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NickName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NickName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LicenseNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LicenseNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ChipNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ChipNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SpeciesNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SpeciesNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FatherNotInDb)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FatherNotInDb)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MotherNotInDb)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MotherNotInDb)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FeedInterval)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FeedInterval)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DueDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DueDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TubeBoxNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TubeBoxNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Note)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Note)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SalesCardComment)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SalesCardComment)
                    </dd>
                </dl>
            </div>
            <div class="col-xs-6 col-sm-3">

                @if (Model.Files.Any(f => f.FileType == ReptileManager.Models.FileType.image))
                {

                    <img src="~/File?id=@Model.Files.First(f => f.FileType == ReptileManager.Models.FileType.image).FileId" alt="image" width="200" height="200" />

                }

            </div>

        </div>

    </div>





    <div class="details-list-separator"></div>
    <div class="row">

        <div class="col-md-8">
            <div class="media-left">
                <span class="glyphicon glyphicon-link"></span>
                @Html.ActionLink("QRcode", "Images", new { id = Model.ReptileId }, null)

            </div>

        </div>

        <div class="col-md-4">
            <div class="pull-right">
                <>
            </div>

        </div>

        <div class="col-md-8">
            <div class="media-left">
                <span class="glyphicon glyphicon-plus-sign"></span>
                @Html.ActionLink("Mating", "Mating", new { id = Model.ReptileId })
            </div>

        </div>

        <div class="col-md-4">
            <div class="pull-right">
                <a data-toggle="collapse" href="#matings" aria-expanded="false" aria-controls="matings" class="glyphicon glyphicon-resize-full"></a>

            </div>

        </div>

        <div style="clear:both"></div>

        <div class="collapse" id="matings">



            @foreach (var item in (IEnumerable<Mating>)Model.Matings)
            {
                <div class="row">
                    <div class="col-md-2">

                        @Html.ActionLink("Edit", "Edit", new { id = item.ReptileId })
                        @Html.ActionLink("Delete", "Delete", new { id = item.MatingId })
                    </div>

                    <div class="col-md-4">
                        @Html.DisplayFor(modelItem => item.Date)
                    </div>
                    <div class="col-md-4">
                        @Html.DisplayFor(modelItem => item.Event)
                    </div>
                </div>
            }


        </div>


        <div class="col-md-8">
            <div class="media-left">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                @Html.ActionLink("Notification", "Notification", new { id = Model.ReptileId })
            </div>
        </div>
        <div class="col-md-4">
            <div class="pull-right">
                <span class="glyphicon glyphicon-resize-full"></span>
            </div>
        </div>

        <div class="col-md-8">
            <div class="media-left">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                @Html.ActionLink("Other", "Other", new { id = Model.ReptileId })
            </div>
        </div>
        <div class="col-md-4">
            <div class="pull-right">
                <span class="glyphicon glyphicon-resize-full"></span>
            </div>
        </div>

        <div class="col-md-8">
            <div class="media-left">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                @Html.ActionLink("Medication", "Medication", new { id = Model.ReptileId })
            </div>
        </div>
        <div class="col-md-4">
            <div class="pull-right">
                <span class="glyphicon glyphicon-resize-full"></span>
            </div>
        </div>

        <div class="col-md-8">
            <div class="media-left">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                @Html.ActionLink("Shed", "Shed", new { id = Model.ReptileId })
            </div>
        </div>
        <div class="col-md-4">
            <div class="pull-right">
                <span class="glyphicon glyphicon-resize-full"></span>
            </div>
        </div>

        <div class="col-md-8">
            <div class="media-left">

                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                @Html.ActionLink("Cleaning", "Cleaning", new { id = Model.ReptileId })
            </div>
        </div>
        <div class="col-md-4">
            <div class="pull-right">

                <span class="glyphicon glyphicon-resize-full"></span>
            </div>
        </div>

        <div class="col-md-8">
            <div class="media-left">

                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                @Html.ActionLink("Feeding", "Feeding", new { id = Model.ReptileId })
            </div>
        </div>
        <div class="col-md-4">
            <div class="pull-right">

                <span class="glyphicon glyphicon-resize-full"></span>
            </div>
        </div>

        <div class="col-md-8">
            <div class="media-left">

                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                @Html.ActionLink("BreedingCycle", "BreedingCycle", new { id = Model.ReptileId })
            </div>
        </div>
        <div class="col-md-4">
            <div class="pull-right">

                <span class="glyphicon glyphicon-resize-full"></span>
            </div>
        </div>

        <div class="col-md-8">
            <div class="media-left">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                @Html.ActionLink("Ultrasound", "Ultrasound", new { id = Model.ReptileId })
            </div>
        </div>
        <div class="col-md-4">
            <div class="pull-right">
                <span class="glyphicon glyphicon-resize-full"></span>
            </div>
        </div>

        <div class="col-md-8">
            <div class="media-left">

                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                @Html.ActionLink("Note", "Note", new { id = Model.ReptileId })
            </div>
        </div>
        <div class="col-md-4">
            <div class="pull-right">

                <span class="glyphicon glyphicon-resize-full"></span>
            </div>
        </div>

        <div class="col-md-8">
            <div class="media-left">

                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                @Html.ActionLink("Weight", "Weight", new { id = Model.ReptileId })
            </div>
        </div>
        <div class="col-md-4">
            <div class="pull-right">

                <span class="glyphicon glyphicon-resize-full"></span>
            </div>
        </div>

        <div class="col-md-8">
            <div class="media-left">

                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                @Html.ActionLink("Length", "Length", new { id = Model.ReptileId })
            </div>
        </div>
        <div class="col-md-4">
            <div class="pull-right">

                <span class="glyphicon glyphicon-resize-full"></span>
            </div>
        </div>
    </div>
    <div class="details-list-separator"></div>
    <br />
    <div class="well">
        <p style="font-size:18px">Health Status</p>
        <div class="well" style="background-color: #fff">
            <p style="font-size:18px;"></p>

            @Html.Action("HealthStatus", new { id = Model.ReptileId })

        </div>
    </div>

    <br />
        @Html.Action("Chart", new { item = Model.ReptileId })
 </div>




    <br />
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ReptileId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    <script type="text/javascript" src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>

   