
@{
    ViewBag.Title = "HealthStatus";
}

<h2>HealthStatus</h2>

@ViewBag.Test
@ViewBag.WeightLossMessage
@ViewBag.JustGaveBirth
@ViewBag.ShedWarning
@ViewBag.DeficationMessage

@Html.Raw(ViewBag.LengthIssue) 

