@model IEnumerable<AzureCal.Models.AzureServiceModel>

@{
    ViewBag.Title = "Confirmation successful created instance";
}

<h2>Confirm</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstanceSize)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InstanceSize)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NumberInstances }) |
            @Html.ActionLink("Details", "Details", new { id=item.NumberInstances }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NumberInstances })
        </td>
    </tr>
}

</table>
