@model AzureCal.Models.AzureServiceModel

@{
    ViewBag.Title ="Yearly cost";
}
   

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumberInstances)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstanceSize)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.NumberInstances)
        </td>
        <td>
            @Html.DisplayFor(model => model.InstanceSize)
        </td>
        <td>
            @Html.DisplayFor(model => model.cost)
        </td>
        
    </tr>


</table>
