@model IEnumerable<ReptileWeb.Models.Reptile>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table-condensed ">
    <tr >
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpeciesName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScientificName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Born)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morph)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venomous)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeightProgress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Food)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeedingType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdultSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Habitat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpeciesName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScientificName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Born)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Morph)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venomous)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeightProgress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Origin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Food)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeedingType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdultSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habitat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
